<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启驼峰命名映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--配置连接数据库的连接参数-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--第二个environment表示连接第二个数据库的环境-->
    <!--
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    -->


    <!--2 加载Mapper接口和SQL语句，将给的例子注释掉。后面第三大步中配置-->
    <!--<mappers>
        <mapper resource="org/mybatis/example/BlogMapper.xml"/>
    </mappers>-->
    <!--加载映Mapper接口和SQL语句-->
    <mappers>
        <!--加载一个，有多少个mapper接口就需要些多少个【不推荐】-->
        <!--<mapper class="com.itheima.mapper.UserMapper"/>-->
        <!--加载该包下所有Mapper接口中的SQL语句并存储，后期调用Mapper中方法时会执行对应SQL【推荐】-->
        <package name="com.itheima.mapper"/>
    </mappers>


</configuration>